[Unit]
Description=Phixeo Language Service for CyberKaisenOS
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/phixeo_service
ExecStop=/usr/local/bin/phixeo_service --stop

[Install]
WantedBy=multi-user.target
